Repository PacketHelper/packet-helper-next, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, pipeline, test

.github/labeler.yml:

backend:
  - ph/**/*

frontend:
  - public/**/*
  - src/**/*

pipeline:
  - .github/**/*
  - Dockerfile

test:
  - tests/**/*

Add code to the Actions
  .github/workflows/ci.yml
Labels: pipeline

Add code to the Actions
  check_deployment.py
Labels: none

Add code to the Actions
  check_deployment.py
Labels: none

Add code to the Actions
  .github/workflows/ci.yml
Labels: pipeline

Add code to the Actions
  .github/workflows/ci.yml
Labels: pipeline

Add code to the Actions
  .github/workflows/ci.yml
Labels: pipeline

Add code to the Actions
  .github/workflows/ci.yml
Labels: pipeline

Add code to the Actions
  .github/workflows/ci.yml
Labels: pipeline

Add post deploy check (#85)
  .github/workflows/ci.yml
  check_deployment.py
Labels: pipeline

Bump Python in the CI
  .github/workflows/ci.yml
Labels: pipeline

Bump base Python in the image to the v3.10 and align code style
  Dockerfile
  Makefile
  ph/main.py
  ph/models/creator_packets.py
  ph/models/decoded_hex.py
  ph/models/info_response.py
  requirements-dev.txt
Labels: backend, pipeline

Add requests
  .github/workflows/ci.yml
  requirements-dev.txt
Labels: pipeline

Bump Python in the CI
  .github/workflows/ci.yml
Labels: pipeline

Add better structure
  ph/models/decoded_hex.py
  ph/models/info_response.py
Labels: backend

Fix issue with structure
  Makefile
  ph/models/decoded_hex.py
  ph/routers/api.py
  tests/routers/test_api.py
Labels: backend, test

Move endpoints to the separate files
  .gitignore
  ph/main.py
  ph/models/decoded_hex.py
  ph/routers/api.py
  ph/routers/api/__init__.py
  ph/routers/api/create.py
  ph/routers/api/hex.py
  ph/routers/api/info.py
  ph/routers/api/packets.py
  tests/routers/test_api.py
Labels: backend, test

Move tests to the separate files
  tests/routers/api/__init__.py
  tests/routers/api/test_create.py
  tests/routers/api/test_hex.py
  tests/routers/api/test_packets.py
Labels: test

Update ci.yml
  .github/workflows/ci.yml
Labels: pipeline

Update ci.yml (#87)
  .github/workflows/ci.yml
Labels: pipeline

.
  ph/main.py
  ph/routers/api/__init__.py
  requirements.txt
  tests/routers/api/test_create.py
  tests/routers/api/test_hex.py
  tests/routers/api/test_packets.py
Labels: backend, test

perf: Bump base Python in the image to the v3.10 and align code style (#84)
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile
  ph/main.py
  ph/models/creator_packets.py
  ph/models/decoded_hex.py
  ph/models/info_response.py
  ph/routers/api.py
  ph/routers/api/__init__.py
  ph/routers/api/create.py
  ph/routers/api/hex.py
  ph/routers/api/info.py
  ph/routers/api/packets.py
  requirements-dev.txt
  requirements.txt
  tests/routers/api/__init__.py
  tests/routers/api/test_create.py
  tests/routers/api/test_hex.py
  tests/routers/api/test_packets.py
  tests/routers/test_api.py
Labels: backend, pipeline, test

Notes added by 'git notes add'
  e260cf2d60e314dbcb5feb940e284499f62be3a2
Labels: none

fix: Remove information about legacy version and fix typo
  src/App.vue
  src/interfaces/packet.ts
Labels: frontend

fix: Remove information about legacy version and fix typo (#88)
  src/App.vue
  src/interfaces/packet.ts
Labels: frontend

Notes added by 'git notes add'
  c5ab1105c20d7fcfe9cc650a9a5f9e856f969acf
Labels: none

perf: Update to the Python v3.11
  .github/workflows/ci.yml
  Dockerfile
Labels: pipeline

.
  .github/workflows/ci.yml
Labels: pipeline

Update pydantic
  requirements.txt
Labels: none

perf: Update base image to the Python v3.11 (#89)
  .github/workflows/ci.yml
  Dockerfile
  requirements.txt
Labels: pipeline

Notes added by 'git notes add'
  70f26978e7905a042134afadb34a6038601d944e
Labels: none

Add smoke test to the separate directory
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/routers/__init__.py
  tests/integration/routers/api/__init__.py
  tests/integration/routers/api/test_create.py
  tests/integration/routers/api/test_hex.py
  tests/integration/routers/api/test_packets.py
  tests/integration/test_main.py
  tests/smoke/__init__.py
  tests/smoke/conftest.py
  tests/smoke/test_smoke_prod.py
Labels: pipeline, test

Add smoke test to the separate directory
  .github/workflows/ci.yml
Labels: pipeline

temp change
  .github/workflows/ci.yml
Labels: pipeline

temp change
  .github/workflows/ci.yml
Labels: pipeline

temp change
  .github/workflows/ci.yml
Labels: pipeline

temp change
  .github/workflows/ci.yml
Labels: pipeline

Enable smoke-test on the pipeline, like the last step
  .github/workflows/ci.yml
Labels: pipeline

perf: Update Python to stable v3.11 & add smoke test (#90)
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/routers/__init__.py
  tests/integration/routers/api/__init__.py
  tests/integration/routers/api/test_create.py
  tests/integration/routers/api/test_hex.py
  tests/integration/routers/api/test_packets.py
  tests/integration/test_main.py
  tests/smoke/__init__.py
  tests/smoke/conftest.py
  tests/smoke/test_smoke_prod.py
Labels: pipeline, test

Notes added by 'git notes add'
  120707b5d7b777d9c2bf72ba3790601216b7a5f6
Labels: none

Enable functools.cache for incomming packet
  ph/routers/api/hex.py
Labels: backend
