Repository PacketHelper/packet-helper-next, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, pipeline, test

.github/labeler.yml:

backend:
  - ph/**/*

frontend:
  - public/**/*
  - src/**/*

pipeline:
  - .github/**/*
  - Dockerfile

test:
  - tests/**/*

Notes added by 'git notes add'
  90ee4285442cf346568bbed7c3b6284fb919838c
Labels: none

Work in Progress
  ph/main.py
  ph/models/decoded_hex.py
  ph/models/info_response.py
  ph/routers/api.py
Labels: backend

.
  ph/main.py
  ph/models/decoded_hex.py
  ph/routers/api.py
Labels: backend

Add more information about application
  ph/main.py
Labels: backend

Update tests
  ph/routers/api.py
  tests/routers/test_api.py
  tests/test_main.py
Labels: backend, test

feat: Road to the .ts. Move some elements from .js -> .ts
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .husky/prepare-commit-msg
  .prettierrc
  Makefile
  babel.config.js
  cypress.json
  package.json
  src/App.vue
  src/components/AppBar.vue
  src/components/Display.vue
  src/components/DropDown.vue
  src/components/Info.vue
  src/components/LandingPage.vue
  src/components/ShareButton.vue
  src/components/Toast.vue
  src/main.js
  src/main.ts
  src/router.js
  src/router/router.ts
  src/services/api.ts
  src/services/apiService.js
  src/services/apiService.ts
  src/services/protocols.js
  src/shims-tsx.d.ts
  src/shims-vue.d.ts
  src/store/index.js
  src/store/index.ts
  src/views/pages/CreatorPage.vue
  src/views/pages/InfoWindow.vue
  src/views/pages/MainPage.vue
  src/views/pages/SimpleDiffPage.vue
  tsconfig.json
  yarn.lock
Labels: frontend

Remove unused files
  Makefile
  Pipfile
  Pipfile.lock
  Procfile
  app.json
  manage.py
Labels: none

isort
  tests/test_main.py
Labels: test

feat: Rewrite components with the Typescript (#71)
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .husky/prepare-commit-msg
  .prettierrc
  Makefile
  Pipfile
  Pipfile.lock
  Procfile
  app.json
  babel.config.js
  cypress.json
  manage.py
  package.json
  src/App.vue
  src/components/AppBar.vue
  src/components/Display.vue
  src/components/DropDown.vue
  src/components/Info.vue
  src/components/LandingPage.vue
  src/components/ShareButton.vue
  src/components/Toast.vue
  src/main.js
  src/main.ts
  src/router.js
  src/router/router.ts
  src/services/api.ts
  src/services/apiService.js
  src/services/apiService.ts
  src/services/protocols.js
  src/shims-tsx.d.ts
  src/shims-vue.d.ts
  src/store/index.js
  src/store/index.ts
  src/views/pages/CreatorPage.vue
  src/views/pages/InfoWindow.vue
  src/views/pages/MainPage.vue
  src/views/pages/SimpleDiffPage.vue
  tsconfig.json
  yarn.lock
Labels: frontend

fix: Add missing devDependencies
  package.json
Labels: none

fix: update a package.json with missing release info
  package.json
  yarn.lock
Labels: none

Notes added by 'git notes add'
  48fa5026a4cfb368e0a005d59c760d478feb6d90
Labels: none

Add tests and FastAPI code structure (#75)
  ph/main.py
  ph/models/decoded_hex.py
  ph/models/info_response.py
  ph/routers/api.py
  tests/routers/test_api.py
  tests/test_main.py
Labels: backend, test

Hide default endpoints in the swagger /docs
  ph/main.py
Labels: backend

Black
  Makefile
  ph/main.py
Labels: backend

Downgrade node-sass
  package.json
  yarn.lock
Labels: none

Correct response from core
  ph/routers/api.py
  src/interfaces/packet.ts
Labels: backend, frontend

Black
  ph/routers/api.py
Labels: backend

Correct imports
  ph/routers/api.py
Labels: backend

fix: Correct ssue with not displaying a list correctly
  Makefile
  ph/models/decoded_hex.py
  ph/routers/api.py
Labels: backend

Notes added by 'git notes add'
  d4deaa6c98dbabab9345132f8d0261dbb8b393e2
Labels: none

feat: Open PacketHelper API
  ph/main.py
Labels: backend

.
  ph/main.py
Labels: backend

feat: Open PacketHelper API (#78)
  ph/main.py
Labels: backend

Notes added by 'git notes add'
  1b68115e1a9ad491acdf35e3b34870c9860b7652
Labels: none

Add highligth for frames hex in hexdump
  src/components/Display.vue
  src/components/HighligtedHex.vue
  src/interfaces/packet.ts
  src/views/pages/MainPage.vue
Labels: frontend

feat: Add highlight for frames position in the hexdump (#80)
  src/components/Display.vue
  src/components/HighligtedHex.vue
  src/interfaces/packet.ts
  src/views/pages/MainPage.vue
Labels: frontend

Notes added by 'git notes add'
  c491bec2f69ee2f8990f664b37544177afadf53f
Labels: none

fix: Broken 'next example' btn on the main page
  src/views/pages/MainPage.vue
Labels: frontend

fix: Broken 'next example' btn on the main page (#82)
  src/views/pages/MainPage.vue
Labels: frontend

Notes added by 'git notes add'
  833bb4fea1a3d205cb65090cad4de0eb878ea8c0
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: pipeline

.
  .github/workflows/ci.yml
Labels: pipeline

disable verify-docker since there is a redundant build for dev
  .github/workflows/ci.yml
Labels: pipeline

Update ci.yml (#83)
  .github/workflows/ci.yml
Labels: pipeline

Bump base Python in the image to the v3.10 and align code style
  Dockerfile
  Makefile
  ph/main.py
  ph/models/creator_packets.py
  ph/models/decoded_hex.py
  ph/models/info_response.py
  requirements-dev.txt
Labels: backend, pipeline

Add check_deployment script
  check_deployment.py
Labels: none

Add code to the Actions
  .github/workflows/ci.yml
Labels: pipeline

Add code to the Actions
  .github/workflows/ci.yml
Labels: pipeline

Add code to the Actions
  .github/workflows/ci.yml
Labels: pipeline
